@using EventManagementSystem.Web.Helpers
@model EventManagementSystem.Web.Models.AccountModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="card card-round card-shadowed px-50 py-30 w-600px mb-0" style="max-width: 100%">
    <img src="/assets/img/logo_EventManagementSystem.png" style="width:65px;height:auto;margin: 0 auto;" />
    <br />
    <h5 class="text" style="text-align: center; font-weight: 800;">@Model.SiteHeader</h5>
    <div class="text-center login-account-preview" id="AccountPreview">
        <img id="Photo" class="avatar avatar-xxl" style="border-width: 2px;border-color: #ccc;border-style: solid;" src="~/assets/img/avatar/avatar_profile.jpg">
        <h5 id="FullName" class="mt-3 mb-1"></h5>
        <p id="DepartmentName" class="text-fade"></p>
    </div>

    <form id="registerForm" method="post">
        @if (Model.HasError)
        {
            <div class="alert alert-danger">
                <strong>@Model.ErrorMessage</strong>
            </div>
            <div class="form-group">
                <a class="btn btn-bold btn-block btn-info" href="@Url.Action("Index", "Home")">Ana Sayfaya Git</a>
            </div>
        }
        else
        {
            if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-success">
                    <strong>@Model.ErrorMessage</strong>
                </div>
                <div class="form-group">
                    <a class="btn btn-bold btn-block btn-info" href="@Url.Action("Index", "Home")">Ana Sayfaya Git</a>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label>E-Posta:</label>
                    @Html.TextBoxFor(model => model.User.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <button class="btn btn-bold btn-block btn-info" type="submit">ŞiFREYİ DEĞİŞTİRME TALEBİ GÖNDER</button>
                </div>
            }
        }
    </form>

</div>


@section Scripts{
    <script src="/assets/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/assets/vendor/jquery-validation/localization/messages_tr.min.js"></script>
    @if (Model.HasError)
    {
        <script>
            $(function () {
                $("#LoginErrorMessage").show();
            });
        </script>
    }
    <script data-provide="sweetalert">
        $(function () {
            $("#registerForm").validate({
                ignore: ".ignore",
                rules: {
                    "@(Html.NameFor(model => model.User.Email))": { required: true },
                }
            });
        });
    </script>
}