@model EventManagementSystem.Web.Models.AccountModel

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Model.SiteHeader Giriş</title>
    <link rel="apple-touch-icon" href="/assets/img/logo_EventManagementSystem.png">
    <link rel="icon" href="/assets/img/logo_EventManagementSystem.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">
    <link href="/assets/css/core.min.css" rel="stylesheet">
    <link href="/assets/css/app.min.css" rel="stylesheet">
    <link href="/assets/css/style.min.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
    @RenderSection("Styles", false)
</head>
<body class="min-h-fullscreen bg-img center-vh p-20" style="background-image: url(@Model.LoginBackgroundPhoto);" data-overlay="1">
@RenderBody()
    
<script src="/assets/js/core.min.js"></script>
<script src="/assets/js/app.min.js"></script>
<script src="/assets/js/script.min.js"></script>
<script src="/assets/js/custom.js"></script>
@RenderSection("Scripts", false)
</body>
</html>
